body {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #c9b458;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

h3 {
    margin-top: 25px;
    line-height: 120%;
}

input {
    width: 40px;
    height: 40px;
    border: 2px solid #6aaa64;
    border-radius: 4px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

.main {
    margin: auto auto;
    min-height: 500px;
    width: 500px;
    border: 3px solid green;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 75px;
}

button {
    background-color: white;
    font-size: 25px;
    margin: 50px;
    border: 3px solid #6aaa64;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}


button:hover {
    background-color: #6aaa64;
    color: white;
}


footer {
    margin: 50px auto;
}

#solutions {
    margin: 0px 20px;
}

#yellowLetters {
    width: 250px;
    border: 2px solid #c9b458;
}

#grayLetters {
    width: 350px;
    border: 2px solid #787c7e;
}